<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ice.sparkhire.mapper.TagObjRelationMapper">

    <resultMap id="BaseResultMap" type="com.ice.sparkhire.model.entity.TagObjRelation">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="tagId" column="tag_id" jdbcType="BIGINT"/>
        <result property="objId" column="obj_id" jdbcType="BIGINT"/>
        <result property="objType" column="obj_type" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectTagListByObjIdAndObjType" resultType="com.ice.sparkhire.model.vo.TagVO">
        SELECT DISTINCT t.id,
                        t.tag_name
        FROM tag t
                 JOIN tag_obj_rel r ON r.tag_id = t.id
        WHERE r.obj_type = #{obj_type}
          AND r.obj_id = #{obj_id};
    </select>

</mapper>
